body { 
    background: url(../img/Terminal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.terminal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 80vh;
    margin: 50px auto;
    padding: 20px;
}
.terminal h1 {
    font-size: 60px;
    color: rgb(13, 210, 19)
}
.difficulty-form label {
color: rgb(13, 210, 19);
font-size: 40px;
}
.difficulty-form input[type='radio'] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    appearance: none;
    border: 3px solid rgb(0, 255, 8);
    width: 16px;
    height: 16px;
    
}
.difficulty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid rgb(0, 255, 8);
    color: rgb(0, 255, 8);
}

.difficulty-form {
    width: 80%;
}
.form-submit-button {
    display: flex;
    justify-content: center;
    border-color: rgb(0, 255, 8);
    background-color: transparent;
    color: rgb(13, 210, 19);
    font-size: 40px;
}
input[type='radio']:checked {
    background: rgb(13, 210, 19);
}