body { 
    background: url(../img/Terminal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fleche {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
}

.flechesettings{
    width: 200px;
    height: 500px;
}

form {
    display: flex;
    border: 3px solid rgb(0, 255, 8);
}