body {
    background-image: url("/static/img/E3_Fallout4_VaultTecWorkshop_Door_finished.jpeg");
    }

    .invisible-button {
        background-color: transparent;
        border: none;
        color: rgb(137, 222, 10);
        cursor: pointer; /* Montre le curseur de la souris pour indiquer que c'est cliquable */
        outline: none; /* Enlève le contour par défaut au clic */
        font-size: 50px;
        font-weight: 900 ;
    }

div {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30vh;
    width: 35vw;
    }
