body {
    background-image: url("/static/img/Plan large avec tableau.jpg");
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between; 
    }
    

 .inv-btn1 {
    background-color: transparent;
        border: none;
        color: rgb(13, 210, 19);
        cursor: pointer;
        outline: none;
        font-size: 28px;
        font-weight: 900 ;
        padding-top: 250px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 350px;
    }

    .inv-btn2 {
        display: flex;
        background-color: transparent;
            border: none;
            color: rgb(13, 210, 19);
            cursor: pointer;
            outline: none;
            font-size: 28px;
            font-weight: 900 ;
            padding-top: 70px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 120px;         
        }

        .inv-btn3 {
            background-color: transparent;
                border: none;
                color: rgb(13, 210, 19);
                cursor: pointer;
                outline: none;
                font-size: 28px;
                font-weight: 900 ;
                padding-top: 130px;
                padding-left: 75px;
                padding-right: 75px;
                padding-bottom: 120px;
            }

    .btn1 {
        display: flex;
        height: 100%;
        width: 30%;
        align-items:center;
        justify-content: center;
        transform:translateY(100px)
    }

    .btn2 {
        display: flex;
        height: 100%;
        width: 30%;
        align-items:center;
        justify-content: center;
        transform: translate(30px, 55px);
    }

    .btn3 {
        display: flex;
        height: 100%;
        width: 30%;
        align-items:center;
        justify-content: center;
        transform:translate(-80px,32px)
    }
