body {
    background-image: url("/static/img/Tableau Stats.jpg");
    }

    .fleche {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100vh;
    }
    
    .flechesettings{
        width: 200px;
        height: 500px;
    }