body {
    background-image: url("/static/img/Tableau Stats.jpg");
    }

    .fleche {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100vh;
    }
    
    .flechesettings{
        width: 200px;
        height: 500px;
    }

    p {
        display: flex;
font-size: 42px;
color: black;
font-weight: bold;
justify-content: center;
text-shadow: none;
    }

    h2 {
        display: flex;
font-size: 65px;
color: black;
font-weight: bold;
justify-content: center;
text-shadow: none;  
text-decoration: underline;
text-decoration-color: rgb(13, 210, 19);
    }