body { 
    background: url(../img/Terminal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.terminal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    width: 40vw;
    height: 80vh;
    margin: 50px auto;
    padding: 20px;
}
.terminal h1 {
    font-size: 35px;
    color: rgb(13, 210, 19);
    text-align: center;

}

.return-button {
    border-color: rgb(0, 255, 8);
    background-color: transparent;
    color: rgb(13, 210, 19);
    font-size: 45px;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
}